{% extends "photos/layout.html" %}
{% load static %}
{% block content %}
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <style>
        .image-thumbail {
            height: 200px;
            object-fit: cover;
        }

        .list-group-item a {
            text-decoration: none;
            color: black;
        }
    </style>
</head>
<body class="m-5">
    <div class="container">
        <div class="row-md-3">
            <div class="col-md-12">
                <div class="jumbotron text-center">
                    <h1 class="display-4"> Chicken Pox Photo Library</h1>
                    <p class="lead">All information is provided by the Center For Disease Control Website.  feel free to scroll through the pictures to assess your ailment</p> 
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
          <div class="col-xl-4 col-lg-4 col-md-4" style="border:1px solid 
      #ddd">
            <img src={% static "C:\Users\twcar\checkmysym\static\images\chickenpox1.jpg" %} alt="responsive webite" class="img-fluid">
          </div>
          <div class="col-xl-8 col-lg-8 col-md-8" style="border:1px solid 
      #ddd">
            <h2>Signs and Symptoms</h2>
            <p>The classic symptom of chickenpox is a rash that turns into itchy, fluid-filled blisters that eventually turn into scabs. The rash may first show up on the chest, back, and face, and then spread over the entire body, including inside the mouth, eyelids, or genital area. It usually takes about one week for all of the blisters to become scabs.</p>
            <p>Other typical symptoms that may begin to appear one to two days before rash include:</br>

              fever</br>
              tiredness</br>
              loss of appetite</br>
              headache</br>
              Children usually miss 5 to 6 days of school or childcare due to chickenpox..</p>
          </div>
        </div>
        <div class="row">
            <div class="col-xl-4 col-lg-4 col-md-4" style="border:1px solid 
        #ddd">
              <img src={% static "C:\Users\twcar\checkmysym\static\images\chickenpox2.jpg" %} alt="responsive webite" class="img-fluid">
            </div>
            <div class="col-xl-8 col-lg-8 col-md-8" style="border:1px solid 
        #ddd">
              <h2>Complications</h2>
              <p>Serious complications from chickenpox include:</br>

                Bacterial infections of the skin and soft tissues in children, including Group A streptococcal infections</br>
                Infection of the lungs (pneumonia)</br>
                Infection or swelling of the brain (encephalitis, cerebellar ataxia)</br>
                Bleeding problems (hemorrhagic complications)</br>
                Bloodstream infections (sepsis)</br>
                Dehydration.</p>
            </div>
          </div>
          <div class="row">
            <div class="col-xl-4 col-lg-4 col-md-4" style="border:1px solid 
        #ddd">
              <img src={% static "C:\Users\twcar\checkmysym\static\images\chickenpox3.jpg" %} alt="responsive webite" class="img-fluid">
            </div>
            <div class="col-xl-8 col-lg-8 col-md-8" style="border:1px solid 
        #ddd">
              <h2>Transmission</h2>
              <p>Chickenpox is a highly contagious disease caused by the varicella-zoster virus (VZV). The virus spreads easily from people with chickenpox to others who have never had the disease or never been vaccinated. If one person has it, up to 90% of the people close to that person who are not immune will also become infected. The virus spreads mainly through close contact with someone who has chickenpox..</p>
            </div>
          </div>
          <div class="row">
            <div class="col-xl-4 col-lg-4 col-md-4" style="border:1px solid 
        #ddd">
              <img src={% static "C:\Users\twcar\checkmysym\static\images\chickenpox5.jpg" %} alt="responsive webite" class="img-fluid">
            </div>
            <div class="col-xl-8 col-lg-8 col-md-8" style="border:1px solid 
        #ddd">
              <h2>Transmission</h2>
              <p>A person with chickenpox is considered contagious beginning 1 to 2 days before rash onset until all the chickenpox lesions have crusted (scabbed). Vaccinated people who get chickenpox may develop lesions that do not crust. These people are considered contagious until no new lesions have appeared for 24 hours..</p>
            </div>
          </div>
          <div class="row">
            <div class="col-xl-4 col-lg-4 col-md-4" style="border:1px solid 
        #ddd">
              <img src={% static "C:\Users\twcar\checkmysym\static\images\chickenpox6.jpg" %} alt="responsive webite" class="img-fluid">
            </div>
            <div class="col-xl-8 col-lg-8 col-md-8" style="border:1px solid 
        #ddd">
              <h2>Shingles after chickenpox</h2>
              <p>The varicella-zoster virus also causes shingles. After chickenpox, the virus remains in the body (dormant). People get shingles when VZV reactivates in their bodies after they have already had chickenpox. People with shingles can spread VZV to people who have never had chickenpox or never received the chickenpox vaccine. This can happen through direct contact with fluid from shingles rash blisters or through breathing in virus particles that come from the blisters. If they get infected, they will develop chickenpox, not shingles..</p>
            </div>
          </div>
          <div class="row">
            <div class="col-xl-4 col-lg-4 col-md-4" style="border:1px solid 
        #ddd">
              <img src={% static "C:\Users\twcar\checkmysym\static\images\chickenpox7.jpg" %} alt="responsive webite" class="img-fluid">
            </div>
            <div class="col-xl-8 col-lg-8 col-md-8" style="border:1px solid 
        #ddd">
              <h2>Catch it</h2>
              <p>It takes about 2 weeks (from 10 to 21 days) after exposure to a person with chickenpox or shingles for someone to develop chickenpox. If a vaccinated person gets the disease, they can still spread it to others. For most people, getting chickenpox once provides immunity for life. It is possible to get chickenpox more than once, but this is not common.</p>
            </div>
          </div>
          <div class="row">
            <div class="col-xl-4 col-lg-4 col-md-4" style="border:1px solid 
        #ddd">
              <img src={% static "C:\Users\twcar\checkmysym\static\images\chickenpox8.jpg" %} alt="responsive webite" class="img-fluid">
            </div>
            <div class="col-xl-8 col-lg-8 col-md-8" style="border:1px solid 
        #ddd">
              <h2>Prevention</h2>
              <p>The best way to prevent chickenpox is to get the chickenpox vaccine. Everyone—including children, adolescents, and adults—should get two doses of chickenpox vaccine if they have never had chickenpox or were never vaccinated.</br>

                Chickenpox vaccine is very safe and effective at preventing the disease. Most people who get the vaccine will not get chickenpox. If a vaccinated person does get chickenpox, the symptoms are usually milder with fewer or no blisters (they may have just red spots) and low or no fever..</p>
             
            </div>
          </div>
          <div class="row">
            <div class="col-xl-4 col-lg-4 col-md-4" style="border:1px solid 
        #ddd">
              <img src={% static "C:\Users\twcar\checkmysym\static\images\chickenpox9.jpg" %} alt="responsive webite" class="img-fluid">
            </div>
            <div class="col-xl-8 col-lg-8 col-md-8" style="border:1px solid 
        #ddd">
              <h2>Treatments at Home for People or over the counter meds</h2>
              <p>There are several things that you can do at home to help relieve chickenpox symptoms and prevent skin infections. Calamine lotion and a cool bath with added baking soda, uncooked oatmeal, or colloidal oatmeal may help relieve some of the itching. Try to keep fingernails trimmed short and minimize scratching to prevent the virus from spreading to others and to help prevent skin infections. If you do scratch a blister by accident, wash your hands with soap and water for at least 20 seconds.</br>
                Do not use aspirin or aspirin-containing products to relieve fever from chickenpox. The use of aspirin in children with chickenpox has been associated with Reye’s syndrome, a severe disease that affects the liver and brain and can cause death. Instead, use non-aspirin medications, such as acetaminophen, to relieve fever from chickenpox. The American Academy of Pediatrics recommends avoiding treatment with ibuprofen if possible because it has been associated with life-threatening bacterial skin infections.
              </p>
            </div>
          </div>
    </div> 
{% endblock %}