{% extends "photos/layout.html" %}

{% block content %}

<div class="jumbotron text-center">
    <h1>CheckMySym - Home Page!</h1>
    <p class="lead">This is a self-diagnosing, symptom-checking application that allows users to upload a picture of their illness area and receive a diagnosis based on an original Machine Learning algorithm.</p>
    <p><a class="btn btn-primary btn-large" href="{% url 'about' %}">Learn more about it &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Create an Account</h2>
        <p>
            Some Illnesses need to be kept confidential and creating an account will give you that service.
        </p>
        <p><a class="btn btn-primary btn-large" href="{% url 'register' %}">Register Here &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Have an Account</h2>
        <p>Login to review past illnesses or start a new session.</p>
        <p><a class="btn btn-primary btn-large" href="{% url 'login' %}">Log in &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Quick Assessment</h2>
        <p>If your not worried about privacy or not wanting to review past assessments and just want to look through our photo for a personal assessment browse our photo library.</p>
        <p><a class="btn btn-primary btn-large" href="{% url 'library' %}">Photo Library &raquo;</a></p>
    </div>
</div>

{% endblock %}